
.about-preview {
  background-color:
    var(--color-background);
}


.about-preview-container {
  display: grid;

  grid-template-columns:
    1fr 1fr;

  align-items: center;

  gap: 80px;
}

.about-preview-image {
  position: relative;

  padding-right: 30px;
}

.about-preview-image img {
  width: 100%;

  height: 560px;

  object-fit: cover;

  border-radius:
    var(--radius-large);

  box-shadow:
    var(--shadow-medium);
}

.about-experience {
  position: absolute;

  right: 0;

  bottom: 40px;

  width: 140px;
  height: 140px;

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  text-align: center;

  color:
    var(--color-text-light);

  background-color:
    var(--color-secondary);

  border-radius:
    50%;

  box-shadow:
    var(--shadow-medium);

  transform:
    rotate(-8deg);
}

.about-experience strong {
  font-family:
    var(--font-heading);

  font-size: 22px;
}

.about-experience span {
  margin-top: 3px;

  font-size: 12px;

  color:
    #dbeafe;
}

.about-preview-content {
  max-width: 600px;
}

.about-preview-content h2 {
  color:
    var(--color-primary);

  font-size:
    clamp(
      32px,
      5vw,
      50px
    );

  line-height: 1.2;
}

.about-preview-content h2 span {
  display: block;

  color:
    var(--color-secondary);
}

.about-intro {
  margin-top: 25px;

  color:
    var(--color-text-secondary);

  font-size: 16px;

  line-height: 1.8;
}


.about-highlights {
  display: flex;

  flex-direction: column;

  gap: 15px;

  margin-top: 25px;
}

.about-highlight {
  display: flex;

  align-items: center;

  gap: 12px;

  color:
    var(--color-text-primary);

  font-size: 14px;

  font-weight: 500;
}

.about-highlight svg {
  flex-shrink: 0;

  color:
    var(--color-secondary);
}

.about-button {
  margin-top: 30px;
}

@media (max-width: 1000px) {
  .about-preview-container {
    grid-template-columns:
      1fr;

    gap: 60px;
  }

  .about-preview-content {
    max-width: 700px;
  }

  .about-preview-image {
    max-width: 700px;
  }
}


@media (max-width: 600px) {
  .about-preview {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about-preview-image {
    padding-right: 15px;
  }

  .about-preview-image img {
    height: 420px;
  }

  .about-experience {
    width: 110px;
    height: 110px;

    right: -5px;

    bottom: 25px;
  }

  .about-experience strong {
    font-size: 18px;
  }

  .about-experience span {
    font-size: 10px;
  }

  .about-preview-content h2 {
    font-size: 34px;
  }

  .about-intro {
    font-size: 15px;
  }
}